.navbar {
    background: linear-gradient(135deg,#2563eb,#1d4ed8);
    color:white;
    padding:22px 40px;
    box-shadow:0 5px 18px rgba(0,0,0,.12);
}

.navbar-content{
    display:flex;
    justify-content:space-between;
    align-items:center;
    max-width:1300px;
    margin:auto;
}

.navbar h1{
    margin:0;
    font-size:32px;
    font-weight:700;
}

.navbar p{
    margin-top:6px;
    opacity:.9;
    font-size:15px;
}

.badge{
    background:rgba(255,255,255,.18);
    padding:10px 18px;
    border-radius:30px;
    font-weight:600;
    backdrop-filter:blur(10px);
}